<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <canvas id="chart-line"></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script>
        var data = {{ input_from_python | tojson }}
        const temp = data[0]
        const humid = data[1]
        const date = data[2]

        var ctx = document.getElementById("chart-line");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
            labels: date, 
            datasets: [
                {
                label: '温度（℃）',
                data: temp, 
                lineTension: 0,
                borderColor: "rgba(255,0,0,1)", 
                backgroundColor: "rgba(0,0,0,0)"
                },
                {
                label: '湿度（%）',
                data: humid, 
                lineTension: 0,
                borderColor: "rgba(0,0,255,1)",
                backgroundColor: "rgba(0,0,0,0)"
                }
            ],
            },
            options: {
                title: {
                    display: true,
                    text: '（' + date[0] + '~' + date.slice(-1)[0] + '）' 
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            suggestedMax: 60,
                            suggestedMin: 0,
                            stepSize: 10,
                            callback: function(value, index, values){
                            return  value +  '度'
                            }
                        }
                    }]
                },
            }
        });
  </script>
</body>
</html>